In [1]:
import pandas as pd

import datetime

df = pd.read_csv('./trip.csv',error_bad_lines=False)

df

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [2]:
# What is the average trip duration for a borrowed bicycle?
rs =df[['tripduration']].mean()[0]
print(rs)

1178.2956753399776

In [3]:
# What’s the most common age of a bicycle-sharer?
rs =df[['birthyear']].value_counts().idxmax()[0]
x = datetime.datetime.now()

rs = x.year - rs
print(int(rs))

33

In [4]:
# Given all the weather data here, find the average precipitation per month, and the median precipitation.

df_weather = pd.read_csv('./weather.csv',error_bad_lines=False)

# adding new column indicating the month and year
df_weather['month'] = pd.DatetimeIndex(df_weather['Date']).month
df_weather['year'] = pd.DatetimeIndex(df_weather['Date']).year

# grouping by year and month
average=df_weather.groupby(['year','month']).mean()[['Precipitation_In']]
median= df_weather.groupby(['year','month']).median()[['Precipitation_In']]

print(average)
print(median)

            Precipitation_In
year month
2014 10             0.300526
     11             0.141667
     12             0.145161
2015 1              0.070645
     2              0.163214
     3              0.135161
     4              0.056667
     5              0.014194
     6              0.005667
     7              0.008710
     8              0.035484
     9              0.041000
     10             0.120645
     11             0.234000
     12             0.327419
2016 1              0.216452
     2              0.173448
     3              0.178710
     4              0.046000
     5              0.010645
     6              0.055333
     7              0.015484
     8              0.000968
            Precipitation_In
year month
2014 10                0.140
     11                0.010
     12                0.010
2015 1                 0.010
     2                 0.025
     3                 0.000
     4                 0.000
     5                 0.000
     6                 0.000
     7                 0.000
     8                 0.000
     9                 0.000
     10                0.010
     11                0.065
     12                0.120
2016 1                 0.070
     2                 0.080
     3                 0.060
     4                 0.000
     5                 0.000
     6                 0.000
     7                 0.000
     8                 0.000

In [5]:
# What’s the average number of bikes at a given bike station?

df_station = pd.read_csv('./station.csv',error_bad_lines=False)

# def bikes_at_station(station_name):
#     result =df_station[df_station['name']==station_name][['current_dockcount']].mean()[0]
#     return int(result)
station_counts = df_station[df_station["decommission_date"].isnull()]
station_counts['current_dockcount'].mean()

# bikes_at_station('1st Ave & Marion St')

17.74074074074074

In [6]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
# result = df_station[df_station['modification_data']!=NaN][['current_dockcount']]

res = df_station[['install_dockcount','current_dockcount','modification_date']].dropna()
result = res['current_dockcount'].sum() - res['install_dockcount'].sum()
print(result)

-64

In [7]:
# Come up with 3 more questions that can be answered with this data set
# 1- longest trip that oldest man did
maxi = int(df[['birthyear']].max()[0])
result1 = df[df['birthyear']==maxi][['tripduration']].max()[0]

print(result1)

# 2- how many Shot-Term Pass Holder
result2 =df[['usertype']].value_counts()['Short-Term Pass Holder'][0]
print(result2)

# 3- Max wind speed
result3 =df_weather[['Max_Wind_Speed_MPH']].value_counts().max()
print(result3)

1537.079
105300
107